#palind{
border-style:solid;
border-color:yellow;
background-color:red;
}
#anag
{
border-style:dotted;
border-color:red;
background-color:lightblue;
}
h1
{
text-align:center;
font-size:30px;
background-color:black;
color:yellow;
}
label
{
display:inline-block;
}
#demo{
text-align:center;
font-size:25px;
font-style:italic;
}
#ana
{
text-align:center;
font-size:25px;
font-style:italic;
}
#ana1
{
text-align:center;
font-size:50px;
font-color:solid balck;
background-color:yellow;
font-style:italic;
}
#demo1
{
text-align:center;
font-size:50px;
font-color:solid balck;
background-color:yellow;
font-style:italic;
}